*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vw;
    background-color: beige;
    border: 5px solid blue;
}
.box{
    height: 100px;
    width: 300px;
    background-color: chocolate;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    position: relative;
    animation-name: rightmove;
    animation-duration: 5s;
    animation-iteration-count: 4;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}
@keyframes rightmove {
    from{
        top: 0;
        left: 0;
    }
    to{
        left: 800px;
    }
}
h2{
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 2px whitesmoke;
}
#box1{
    
        height: 100px;
        width: 300px;
        background-color: rgb(15, 112, 49);
        border: 3px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        position: relative;
        animation-name: leftmove;
        animation:5s ease-in 2s infinite alternate none  running leftmove ;
}
@keyframes leftmove {
    from{
        top: 300px;
        left: 0;
    }
    to{
        top: 300px;
        left: 800px;
    }
}