*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color:rgb(5, 5, 59);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns:repeat(3, 1fr);
}
.items{
    background-color: whitesmoke;
    border: 3px solid rgb(28, 21, 21);
   
}
.header{
    grid-column-start:1 ;
    grid-column-end: 4;
    background-color:whitesmoke ;
    border: 3px solid rgb(131, 14, 14);
    border-radius: 10px;
     text-align: center;
     padding: 20px;
     font-size: larger;
     align-items: center;
}
.footer{
    grid-column-start:1 ;
    grid-column-end: 4;
    background-color:whitesmoke ;
    border: 3px solid rgb(131, 14, 14);
    border-radius: 10px;
    
}
.items2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color:whitesmoke ;
    border: 3px solid rgb(131, 14, 14);
    border-radius: 10px;
}
.items3{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: whitesmoke ;
    border: 3px solid rgb(131, 14, 14);
    border-radius: 10px;
} 
.items4{
    background-color:whitesmoke;
    border: 3px solid rgb(131, 14, 14);
    border-radius: 10px;
} 
.items5{
    background-color: whitesmoke ; 
    border: 3px solid rgb(131, 14, 14);
    border-radius: 10px;
} 